# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ETHlottery\lottery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
